body {
    font-family: 'Raleway', sans-serif !important;
}
.container {
    width: 75%;
}

h1, h2 {
    color: #FF6363;
    font-weight: bold;
}

p {
    font-size: 20px;
    color: #484848;
}

h2, h5, p {
    text-align: center;
}

nav{
    background-color: transparent !important;
}
.jumbotron {
    padding: 50em inherit;
    background-image: url("file:///Users/jessicamccormack/Dropbox/Authentic%20Design%20Co.%20Branding/Stock%20Photos/08.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right top;
}

.fa-chevron-down {
    color: #FF6363 !important;
    bottom: 10px;
    cursor: pointer;
    -webkit-transition: 1.2s ease;
    padding-top: 16rem;
}

#about-me{
    padding-top: 4rem;
}
#about-me p{
    padding: 2rem;
}
#technologies{
    padding-top: 4rem;
}
#projects{
    padding-top: 4rem;
}
#connect{
    padding-top: 4rem;
}
div .progress .progress-box{
    height:50px;
}
.progress .progress-title{
    height: 100%;
    font-size: 1rem;
    position: absolute;
    left: 0px;
    background-color: rgba(12, 12, 12, 0.274);
    padding: .2rem;
    padding-left: .7rem;
    padding-right: .7rem;

}

.progress .progress-percent {
    line-height:30px;
    color:rgba(0, 0, 0, 0.5);
    margin-right: 10px;
}

.technology-icons{
    text-align: center;
}
.technology-icons i {
    padding: 1.5rem;
}
